body {

    background-color: #f2f2f2;

}

.container {

    text-align: center;
    margin: auto;
    margin-top: 50px;
    width: 40%;

}

.broasca {

    display: block;
    margin: auto;

}

.visualItems {

    padding-top: 20px;
    text-align: center;
    margin-top: 20px;
    background-color: #fcd000;


}

.subtitle {

    margin-bottom: 100px;
    color: white;

}

.bani {

    margin-bottom: -5px;

}

.text {

    padding-top: 10px;
    background-color: white;
    text-align: left;
    padding-bottom: 20px;

}

.titlu {

    text-align: center;

}

.linie {

    margin-top: -20px;

}

.paragraf {

    margin: 30px 50px 30px 50px;
    line-height: 25px;

}

.buton {

    text-align: center;
    margin-bottom: 20px;

}

.detailButton {

	background-color:transparent;
	border:3px solid #fcd200;
	display:inline-block;
	cursor:pointer;
	color:#050005;
	font-family:Arial;
	font-size:17px;
	padding:13px 35px;
	text-decoration:none;
    font-weight:bold;

}

.bottomText {

    font-size: small;
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    color: #a1a0a0;

}

.copyrightAndContact {

    font-size: small;
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    color: #a1a0a0;

}