:root {

    --font-family-primary: 'Manrope';
    --font-family-secondary: 'Inter';
    --font-style-primary: normal;
    --dark: #000000;
    --light: #ffffff;
    --primary: #2F60A6;
    --secondary: #2C347C;
    --tertiary: #2E2E2E;
    --quaternary: #808080;

}


header {

    background-image: url(./Images/Rectangle\ 1.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    background-position: center;

}

@media (max-width:768px) {
    .navbar {
       position: relative;
    }   
    .navbar .btn {
       position: absolute;
       top: 35px;
       right: 35px;
    }
    .navbar-toggler {
       border: none;
       padding: 0px;
    }
   
}

.navbar {
    background-color: transparent !important;
}

.card {

    border: none;

}

.navbar .btn {

    background: var(--primary);
    border: 1px solid var(--dark);
    border-radius: 5px;
    width: 96px;
    height: 40px;
    margin-left: 130px;

    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: var(--light);
    font-family: var(--font-family-primary);
    font-style: var(--font-style-primary);
}

header .card {

    margin-left: 7%;
    margin-top: 135px;
    background-color: transparent;
    max-width: 665px;

}

header .card-title {

    font-family: var(--font-family-primary);
    font-weight: 800;
    font-size: 64px;
    line-height: 82px;

    color: var(--dark);

}


header .card-text {

    max-width: 650px;

}

header .card .input-group {

    max-width: 502px;
    height: 73px;

}

header .card .btn {


    background: var(--primary);
    border-radius: 8px;

    font-family: var(--font-family-primary);
    font-style: var(--font-style-primary);
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.2px;

    width: 136px;
    height: 61px;

    color: var(--light);

}

@media screen and (max-width: 1024px) {

    header .card .btn {


        background: var(--primary);
        border-radius: 8px;
    
        font-family: var(--font-family-primary);
        font-style: var(--font-style-primary);
        font-weight: 700;
        font-size: 16px;
        line-height: 36px;
        letter-spacing: 0.2px;
    
        width: 115px;
        height: 61px;
    
        color: var(--light);
    
    }

}

@media screen and (max-width: 375px) {

    header .card .btn {


        background: var(--primary);
        border-radius: 8px;
    
        font-family: var(--font-family-primary);
        font-style: var(--font-style-primary);
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
    
        width: 91px;
        height: 50px;
    
        color: var(--light);
    
    }

}

header .card .form-control {

    border-right: 0;

}

header .card .input-group-text {

    background-color: var(--light);
    border-left: 0;

}

header .card .card-body {

    margin-bottom: 148px;

}


.first-container h1 {

    text-align: center;
    margin-top: 117px;

    font-family: var(--font-family-primary);
    font-style: var(--font-style-primary);
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    text-align: center;

    color: var(--dark);

}

.first-container .description {

    text-align: center;
    /* padding: 33px 223px 0 223px; */
    padding-top: 33px;

    max-width: 990px;
    margin: 0 auto;
    margin-bottom: 99px;
    float: none;

    font-family: var(--font-family-primary);
    font-style: var(--font-style-primary);
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;

    letter-spacing: 0.2px;

    color: var(--dark);


}


@media screen and (max-width: 450px) {

    .first-container .description {

        font-size: 12px;
        font-family: var(--font-family-primary);
        font-style: var(--font-style-primary);
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.2px;

    }

    .first-container h1 {

        font-size: 24px;

    }

}

.first-container .card {

    /* padding: 0 143px; */
    /* margin-left: 10%; */
    margin: 0 auto;
    /* border: 0; */
    max-width: 316px;

}

.first-container-cards .card-text {

    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.2px;
}


.first-container-cards .card-title {

    font-family: var(--font-family-primary);
    font-style: var(--font-style-primary);
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;

    color: var(--dark);

}

.first-container-cards .card-img-top {

    width: 76px;
    height: 76px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}



.first-container-cards .card {

    text-align: center;
    /* border: 0; */
    height: 150px;
    max-width: 316px;
    margin-bottom: 103px;

}


.second-container {

    background: linear-gradient(180deg, var(--primary) 0%, var(--secondary) 100%);

}

.second-container .title-card {

    text-align: center;
    border: none;
    background-color: transparent;
    padding-top: 68px;

}

.second-container .title-card .card-title {

    font-family: var(--font-family-primary);
    font-style: var(--font-style-primary);
    font-feature-settings: 'liga' off;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;

    color: var(--light);

}

.second-container .title-card .card-subtitle {

    font-family: var(--font-family-primary);
    font-style: var(--font-style-primary);
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;

    color: var(--light);

    text-align: center;
    font-feature-settings: 'liga' off;

}

.second-container-cards .card-body {

    padding: 0;

}

.second-container-cards .card-img-top {

    width: 32px;
    height: 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.second-container-cards .card-text {

    font-family: var(--font-family-primary);
    font-style: var(--font-style-primary);
    font-weight: 700;
    font-size: 18px;
    line-height: 31px;

    font-feature-settings: 'liga' off;

    color: var(--light);

}

.second-container-cards .card {

    text-align: center;
    border: none;
    background-color: transparent;
    padding-top: 64px;
    margin: 0 auto;
    /* border: 0; */
    max-width: 147px;
    margin-bottom: 73px;

}

.second-container-cards .row {

    justify-content: center;

}

@media screen and (min-width: 1400px) {

    .second-container-cards .card {

        width: 147px;

    }

}

@media screen and (max-width: 1399px) {

    .second-container-cards .card .card-body .card-text {

        font-family: var(--font-family-primary);
        font-style: var(--font-style-primary);
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;

        font-feature-settings: 'liga' off;

        color: var(--light)
    }

}

@media screen and (max-width: 991px) {

    .second-container {

        padding-bottom: 124px;

    }

    .second-container .title-card {

        margin-bottom: 23px;

    }

    .second-container .title-card .card-title {

        font-family: var(--font-family-primary);
        font-style: var(--font-style-primary);
        font-weight: 800;
        font-size: 36px;
        line-height: 47px;

        text-align: center;
        font-feature-settings: 'liga' off;

        color: var(--light);



    }

    .second-container .card-subtitle {

        max-width: 190px;
        justify-content: center;
        margin: auto;

    }

    .second-container-cards .card .card-body .card-text {

        font-family: var(--font-family-primary);
        font-style: var(--font-style-primary);
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;

        font-feature-settings: 'liga' off;

        color: var(--light);

    }

    .second-container-cards .card {

        max-height: 41px;
        margin-bottom: 0;


    }



}

@media screen and (max-width: 767.9px) {

    .second-container-cards .card .card-img-top {

        transform: rotate(90deg);

    }

}

.third-container {

    padding: 10% 5%;
    justify-content: center;

}

.third-container .card {

    width: 100%;

}

.third-container .card .card-title {

    font-family: var(--font-family-primary);
    font-style: var(--font-style-primary);
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;

    color: var(--tertiary);

}

.third-container .presentation {

    max-width: 504px;
    max-height: 480px;

}

.third-container .img {

    margin: auto;

}

.third-container .card .card-text {

    max-width: 523px;
    text-align: left;

}

.third-container .card {

    max-width: 608px;
    margin: 0 auto;

}

.third-container .card2 {

    max-width: 548px;

}

.third-container .card .card-text {

    font-family: var(--font-family-primary);
    font-style: var(--font-style-primary);
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;

    color: var(--quaternary);

}

.third-container-card-button {


    width: 160px;
    height: 48px;

    background: var(--primary);
    border-radius: 8px;

    font-family: var(--font-family-primary);
    font-style: var(--font-style-primary);
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    border: 0;
    margin-top: 80px;

    color: var(--light);

}


@media screen and (max-width: 1399px) {

    .third-container-card-button {

        margin-top: 22px;

    }



}

@media screen and (max-width: 768px) {

    .third-container-card-button {

        margin-top: 45px;
        width: 100%;

    }

    .third-container img {

        justify-content: center;

    }

}

.fourth-container {

    background: linear-gradient(180deg, var(--primary) 0%, rgba(44, 52, 124, 0.0121536) 99.99%, rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.09));
    padding-bottom: 35px;
    border-bottom: solid;
    border-color: #e5e5e5;
   

}



.fourth-container .title-card {

    padding-top: 59px;

}

.fourth-container .card-title {

    font-family: var(--font-family-primary);
    font-style: var(--font-style-primary);
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;

    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;


    color: #18191F;

}

.fourth-container .card-text {

    font-family: var(--font-family-primary);
    font-style: var(--font-style-primary);
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;

    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;


    color: #18191F;

    margin-bottom: 48px;

}


.fourth-container .row {

    max-width: 60%;
    margin: 0 auto;

}

@media screen and (max-width: 1200px) {

    .fourth-container .row {
    max-width: 90%;
    }

}

.fourth-container .row .card {

    box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
    border-radius: 16px;
    max-width: 170px;
    justify-content: center;
    text-align: center;
    margin: 0 auto 24px auto;

}


@media screen and (max-width: 768px) {

    .fourth-container .row .card {

        max-width: 170px;

    }

}

.fifth-container {

    margin: 0;

}

.fifth-container .card {

    text-align: center;
    background-color: transparent;
    padding-top: 160px;
    padding-bottom: 160px;

}

.fifth-container .card img {

    width: 120px;
    height: 120px;
    display: block;
    margin: auto;

}

.fifth-container .card .card-title {

    font-family: var(--font-family-primary);
    font-style: var(--font-style-primary);
    font-weight: 800;
    font-size: 48px;
    line-height: 32px;
    text-align: center;

    color: var(--dark);

}

.fifth-container .card .card-text {

    font-family: var(--font-family-primary);
    font-style: var(--font-style-primary);
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    text-align: center;

    color: var(--dark);

}

.fifth-container .card .btn {

    text-align: center;

    width: 226px;
    height: 70px;

    background: var(--primary);
    border: 0;
    border-radius: 8px;

    font-family: var(--font-family-primary);
    font-style: var(--font-style-primary);
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;

    color: var(--light);

}


.sixth-container {

    background-color: var(--primary);
    padding-top: 71px;
    padding-bottom: 59px;

}

.sixth-container .card {

    background-color: transparent;

}

.sixth-container .list-group-item {

    text-align: center;
    background-color: transparent;
    border: 0;

    font-family: var(--font-family-secondary);
    font-style: var(--light);
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;

    color: #E6E6E6;

}

.sixth-container .primul {

    font-family: var(--font-family-secondary);
    font-style: var(--font-style-primary);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    font-feature-settings: 'pnum' on, 'lnum' on;


    color: var(--light);

}

.sixth-container p {

    font-family: var(--font-family-secondary);
    font-style: var(--font-style-primary);
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;

    color: var(--light);

}

.sixth-container .banda-jos {

    padding-left: 104px;
    padding-right: 102px;
    

}

.footer-icons {

    padding-left: 22px;
    padding-top: 38px;

}

@media screen and (max-width: 768px) {

    .sixth-container .list-group-item {

        text-align: left;
        

    }

    .sixth-container .list-group {

        padding-left: 20px;

    }

    .sixth-container .banda-jos {

        padding-left: 35px;
        
    
    }

}