body {

    background-color: black;
    overflow-x: hidden;
    margin: 0px;

}

.intro {

    margin-top: 50px;
    text-align: center;

}

.image {

    margin-top: 70px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.image p {

    width: 180px;
    margin-top: 70px;
    margin-left: 100px;

}

