body,
* {
    font-family: Poppins, sans-serif;
}

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.container p {
    font-size: 16px;
    font-weight: 500;
}

.container a {
    color: #0032e9;
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}

section {
    width: 100%;
}

.exercise-container {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid slategray;
}

.section-fig {
    width: 350px;
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;
}

.border {
    border: 1px solid black;
}

.boatImg {
    display: block;
    position: relative;
    bottom: 50px;
    opacity: 0;
    transition: .3s linear;
}

.border:hover .boatImg {
    transform: translateY(50px);
    opacity: 1;
}

.chestie {
    position: relative;
}

.landscape {
    display: block;
    width: 352px;
    height: 252px;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000096;
    overflow: hidden;
    height: 0;
    color: white;
    font-size: 20px;
    display: block;
    text-align: center;
    margin: auto;
    line-height: 252px;
    transition: .3s ease;
}

.chestie:hover .overlay {
    height: 100%;
}

.purpleCircle {
    border-radius: 50%;
    background-color: #C1BBFB;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    animation: rotate 2s infinite alternate ease-in-out;
}

.yellowCircle {
    border-radius: 50%;
    border: 15px solid yellow;
    width: 50px;
    height: 50px;
    animation: resizeCircle 2s infinite alternate ease-in-out;
}

.greenCircle {
    border-radius: 50%;
    border: 15px solid green;
    width: 50px;
    height: 50px;
    animation: resizeCircle 2s infinite alternate-reverse ease-in-out;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes resizeCircle {
    from {
        scale: 0.8;
    }

    to {
        scale: 1.2;
    }
}

.rotateSquares {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    animation: rotateSquares 2s linear infinite;
}

.redSquare {
    height: 100px;
    width: 100px;
    background-color: red;
    animation: dissapearRedSquare 2s ease-out infinite;
}

.pinkCircle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #FD6BB2;
    animation: appearPinkCircle 2s ease-out infinite;
}

.purpleSquare {
    height: 100px;
    width: 100px;
    background-color: purple;
    animation: dissapearPurpleSquare 2s ease-out infinite;
}

.blueCircle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #2090F9;
    animation: appearBlueCircle 2s ease-out infinite;
}

@keyframes appearPinkCircle {
    0%{
        height: 0px;
        width: 0px;
        margin-left: 50px;
    }
    50%{
        height: 100px;
        width: 100px;
        margin-left: 0px;
    }
    75%{
        height: 100px;
        width: 100px;
        margin-left: 0px;
    }
    100%{
        height: 100px;
        width: 100px;
        margin-left: 0px;
    }
}

@keyframes appearBlueCircle {
    0%{
        height: 0px;
        width: 0px;
        margin-left: 50px;
    }
    50%{
        height: 100px;
        width: 100px;
        margin-left: 0px;
    }
    75%{
        height: 100px;
        width: 100px;
        margin-left: 0px;
        margin-top: 0px;
    }
    90%{
        height: 100px;
        width: 100px;
        margin-left: 0px;
        margin-top: 80px;
    }
    100%{
        height: 100px;
        width: 100px;
        margin-left: 0px;
        margin-top: 100px;
    }
}

@keyframes dissapearRedSquare {
    0% {
        margin-top: 100px;
        height: 100px;
    }
    50% {
        height: 100px;
        margin-top: 0px;
    }

    75%{
        height: 100px;
        margin-top: 0px;
    }
    90%{
        height: 20px;
        margin-top: 0px;
    }
    100% {
        height: 0px;
        margin-top: 0px;
    }

}

@keyframes dissapearPurpleSquare {
    0% {
        margin-bottom: 100px;
        height: 100px;
    }
    50% {
        height: 100px;
        margin-bottom: 0px;
    }
    75%{
        height: 100px;
        margin-bottom: 0px;
    }
    90%{
        height: 20px;
        margin-top: 0px;
    }
    100% {
        height: 0px;
        margin-bottom: 0px;
    }

}

@keyframes rotateSquares {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(0deg);
    }
    70%{
        transform: rotate(90deg);
    }
    80%{
        transform: rotate(90deg);
    }
    90%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(90deg);
    }
}