body {

    background-color: #88BBBD;
    overflow: hidden;
    margin: 0px;

}

.container {

    background-color: #F3F3F3;
    min-height: 99.80vh;
    width: 700px;
    margin: auto;
    border: 1px solid #FE7A5F;

}

.logo {

    float: left;
    margin-top: 20px;
    margin-left: 50px;

}

.website {

    margin-right: 50px;
    margin-top: 60px;
    float: right;

}

.culoare {

    height: 100px;
    padding-top: 30px;
    margin-left: 50px;
    margin-top: 100px;
    background-color: #FE7A5F;
    width: 86%;

}

.mail {

    display: block;
    margin: auto;
    filter: invert(100%);

}

.textContainer {

    background-color: white;
    margin-left: 50px;
    width: 86%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;

}

.confirmare {

    margin: auto;

}

.paragraf {

    padding-left: 100px;
    padding-right: 100px;

}

.verifyButton {

    background-color: #FE7A5F;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;

}

.touch {

    text-align: center;
    margin-left: 50px;
    width: 86%;

}

.icons {

    text-align: center;
    margin-left: 50px;
    width: 86%;

}

.footer {

    margin-top: 20%;
    text-align: center;

}
