* {
    margin: 0;
    box-sizing: border-box;
}

body {

    overflow: hidden;
    background-image: url(./Images/background.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #010101;
}

.center-items {

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;

}

.center-board {

    display: flex;
    flex-direction: column;
    transition: ease .4s;

}

.control-buttons {

    display: flex;
    justify-content: space-between;
    margin-top: 10px;

}

.game-select {

    background: linear-gradient(133.05deg, #4BB6FF 0.62%, #888AE4 102.4%);
    padding: 20px 25px 25px;
    border-radius: 20px;
    max-width: 400px;
    width: 100%;
    flex-direction: column;
    text-align: center;
    margin: auto;
    transition: ease .4s;

}

h1 {

    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
    text-align: center;
    margin-bottom: 15px;

}

.title {

    margin-bottom: 15px;
    font-size: 20px;

}

input {

    max-width: 150px;
    height: 30px;
    margin-bottom: 15px;
    border-radius: 20px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    text-align: center;

}

input::placeholder {

    color: white;

}

.board {

    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: auto;
    border-radius: 8px;
    transition: ease .4s;

}

.gameOptions {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: ease .4s;

}

.card {

    position: relative;
    margin: 8px;
    border-radius: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;

}

.card:active {

    transform: scale(.97);
    transition: transform .2s;
}

.card.flip {

    transform: rotateY(180deg);
}

.cardFront,
.cardBack {

    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    backface-visibility: hidden;
    border: 2px solid #4BB6FF
}

.cardBack {

    content: url(./Images/cardBack.webp);
    cursor: pointer;

}

.cardFront {
    transform: rotateY(180deg);
}

.memory {

    background: -webkit-linear-gradient(#4BB6FF, #888AE4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 30px;
}

.game {

    display: flex;
    justify-content: center;
    transition: ease .4s;
    margin-bottom: 5px;

}

.Player1,
.Player2 {

    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 800;
    font-size: 14px;
    line-height: 36px;
    padding: 0 20px;
    text-transform: capitalize;
}

.playerFrame {

    display: flex;
    align-items: center;
    margin: auto;
    height: 30%;
    background: linear-gradient(133.05deg, #4BB6FF 0.62%, #888AE4 102.4%);
    border-radius: 8px;
    transition: ease .4s;
}

.single-info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.singleScore,
.singleMoves {

    background: linear-gradient(180deg, #4BB6FF 0.62%, #888AE4 102.4%);
    padding: 10px;
    border-radius: 10px;

}

.gameOver {

    text-align: center;
    position: absolute;
    align-items: center;
    background: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
    opacity: 0.9;
    width: 500px;
    height: 400px;
    display: inherit;
    z-index: 1;
    border-radius: 10px;
}

button {
    background: linear-gradient(180deg, #4BB6FF 0.62%, #888AE4 102.4%);
    border: 2px solid #000233;
    border-radius: 20px;
    cursor: pointer;
    color: #000233;
    font-size: 17px;
    padding: 8px 10px;
    text-decoration: none;
    width: 200px;
    margin: 3px;
}

.game-select button {

    background: transparent;

}

.hidden {

    display: none;

}