*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    background-color: rgb(97, 215, 254);
    background-image: url(./Images/rickAstley.gif);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.game {

    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;

}

.board {

    width: 320px;
    height: 320px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
    background-image: url(./Images/grid.png);
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 0 15px 5px rgba(50, 50, 50, 0.5);
    margin-bottom: 10px;

}

.board:hover {

    cursor: pointer;

}

.circle {

    background-image: url(./Images/circle.png);

}

.cross {

    background-image: url(./Images/cross.png);

}

.circle,
.cross {

    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;

}

#result {

    font-size: 30px;
    text-align: center;
    color: lightgreen;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

button {
    margin: 20px;
    outline: none;
    margin: 10px;
  }
  
  .custom-btn {
    width: 130px;
    height: 40px;
    padding: 10px 25px;
    border: 2px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }
  
  .game-button {
    background: #000;
    color: #fff;
    line-height: 42px;
    padding: 0;
    border: none;
  }
  
  .game-button:hover {
    background: white;
    color: #000;
    box-shadow:
      -7px -7px 20px 0px #fff9,
      -4px -4px 5px 0px #fff9,
      7px 7px 20px 0px #0002,
      4px 4px 5px 0px #0001;
  }
  
  .game-button:before,
  .game-button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #000;
    transition: 400ms ease all;
  }
  
  .game-button:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
  }
  
  .game-button:hover:before,
  .game-button:hover:after {
    width: 100%;
    transition: 800ms ease all;
  }

  .game-select,
  .players-menu {

    background-color: white;
    padding: 20px 25px 25px;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
    text-align: center;

  }

   header {

    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
    text-align: center;

  }

  .title {
    font-size: 22px;
    font-weight: 500;
    margin: 20px 0;
    text-align: center;
  }
  
  input {

    max-width: 150px;
    height: 30px;

  }

  .hidden {

    display: none;

  }