body {
    margin: 0;
    font-family: 'Titillium Web';
    font-style: normal;
}

.padding-container {
    padding: 0 215px;

}

.header {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    height: 80px;
    align-items: center;
    background-color: #87509C;
}

.header .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 393px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.header .menu-btn {
    border: none;
    background-color: transparent;
    color: white;
}

.header .menu .menu-btn:hover {

    background-color: #643A79;
    border-radius: 3px;
    height: 32px;
    width: 77px;

}

.header .logo img {
    width: 117px;
    height: 37px;
}

.banner {
    display: flex;
    justify-content: space-between;
    background-color: #87509C;
    padding-top: 58px;
}

.banner .banner-content {
    display: flex;
    flex-direction: column;
    color: #F7F3EA;
}


.banner .banner-content h1 {
    font-size: 43px;
    font-weight: 700;
    line-height: 64px;
    text-align: center;
}

.banner .banner-content .banner-btn {
    background-color: #EB7D4B;
    width: 293px;
    font-size: 18px;
    text-align: center;
    padding: 22px 0;
    border-radius: 10px;
    border: none;
    border-bottom: 4px solid rgba(0, 0, 0, 0.15);
    margin: auto;
    margin-bottom: 145px;
    color: #F7F3EA;

}

.content-items {

    color: white;
    background-color: #17C2A4;
    padding: 107px;
}

.content-items h1 {

    text-align: center;
    margin-top: 0;

}

.content-items hr {

    width: 87px;
    height: 4px;
    background-color: #000000;
    opacity: 0.15;
    border: none;
}

.content-items .service-description {

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    padding: 0 350px;

}

.icons {

    display: flex;
    flex-direction: row;
    margin-top: 74px;
    padding: 0 100px;
    text-align: center;

}

.content-items h3 {

    margin: 0;

}

.content-items p {

    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    padding: 0 50px;


}

.content-team {

    color: #3C4761;
    background-color: #E7F1F8;
    padding: 107px;
}

.content-team h1 {

    text-align: center;
    margin-top: 0;

}

.content-team hr {

    width: 87px;
    height: 4px;
    background-color: #BDD1DF;
    opacity: 0.75;
    border: none;
}

.content-team .team-description {

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    padding: 0 350px;

}

.content-team h3 {

    margin-top: 34px;
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;

}

.content-team p {

    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding: 0 30px;

}

.role {

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    color: #30BAE7;

}

.social-icons {

    display: flex;
    justify-content: space-around;
    padding: 0 50px;

}

.social-icons-3 {

    display: flex;
    justify-content: space-around;
    padding: 0 60px;

}

.content-skills {

    color: #3C4761;

}

.content-skills h1 {

    text-align: center;
    margin-top: 104px;

}

.content-skills hr {

    width: 87px;
    height: 4px;
    background-color: #DFE8ED;
    border: none;

}

.content-skills .skills-description {

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    padding: 0 480px;

}

.content-skills .icons {

    display: flex;
    justify-content: space-around;
    padding: 0 100px;
    padding-bottom: 110px;

}

.content-portofolio {

    color: #393939;
    padding: 108px;
    background-color: #FFDD99;
    text-align: center;

}

.content-portofolio h1 {

    text-align: center;
    margin-top: 0;

}

.content-portofolio hr {

    width: 87px;
    height: 4px;
    background-color: #E5C37F;
    border: none;
}

.content-portofolio .portofolio-item {

    margin: 0 10px;

}

.content-portofolio .portofolio-item .portofolio-image {

    margin-bottom: 27px;

}

.content-portofolio .portofolio-description {

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    padding: 0 350px;


}

.portofolio-btn {

    background: rgba(0, 0, 0, 0.08);
    border: none;
    width: 84px;
    height: 38px;
    color: #393939;
    margin: 0 5px;
    border-radius: 5px;

}

.portofolio-btn:hover {

    background-color: white;

}

.portofolio-container {

    padding: 0 42px;

}

.portofolio-container .portofolio-row {

    display: flex;
    margin-top: 60px;
    justify-content: center;

}


.projects-btn {

    width: 293px;
    height: 70px;
    background-color: #17C2A4;
    border: none;
    border-bottom: 4px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    font-weight: 600;
    font-size: 18Px;
    line-height: 27px;

    color: #FFFFFF;
}

.content-testimonials {

    color: white;
    padding: 108px;
    background-color: #D74680;
    text-align: center;
    margin: 0;

}

.content-testimonials h1 {

    text-align: center;
    margin-top: 0;

}

.content-testimonials hr {

    width: 87px;
    height: 4px;
    background-color: #000000;
    opacity: 0.15;
    border: none;
}

.content-testimonials {

    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

}

.testimonials-container {
    padding: 0 42px;
}

.testimonials-container .testimonials-row {
    display: flex;
    margin-top: 87px;
}

.testimonials-container .testimonial-item {
    width: 50%;
    display: flex;
    margin: 0 40px;
}

.testimonials-container .testimonial-item .testimonial-item-content {

    padding-left: 48px;
    text-align: left;
}

.testimonials-container .testimonial-item .name {

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    margin: 0;
    margin-top: 32px;


}

.testimonials-container .testimonial-item .profession {

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin-top: 0;

    color: #FFDD99;

}

.testimonials-container p {

    font-style: italic;
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;

}

.footer-forms {

    color: #FFFFFF;
    padding: 108px;
    background-color: #3C5499;
    text-align: center;

}

.footer-forms h1 {

    text-align: center;
    margin-top: 0;

}

.footer-forms hr {

    width: 87px;
    height: 4px;
    background-color: #273A71;
    border: none;
}

::placeholder {

    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    font-family: 'Titillium Web';
    font-style: normal;

}

.footer-forms .name {

    width: 414px;
    height: 56px;
    background-color: #273A71;
    border: none;

    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    padding: 0;

}

.forms {

    margin-top: 72px;

}

.email {

    width: 414px;
    height: 56px;
    background-color: #273A71;
    border: none;

    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-left: 32px;
    padding: 0;

}

.text textarea {

    width: 860px;
    height: 200px;
    background-color: #273A71;
    color: #FFFFFF;
    margin-top: 27px;

}

::placeholder {

    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    font-family: 'Titillium Web';
    font-style: normal;
    padding: 14px 23px;

}

.footer-forms-btn {

    width: 293px;
    height: 70px;
    background-color: #30BAE7;
    border: none;
    border-bottom: 4px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    font-weight: 600;
    font-size: 18Px;
    line-height: 27px;

    color: #FFFFFF;
}

.footer {

    background-color: #344B8E;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-menu {

    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.footer-btn {

    font-family: 'Titillium Web';
    background-color: transparent;
    border: none;
    color: white;

    font-weight: 600;
    font-size: 24px;
    line-height: 37px;
    text-align: center;

    width: 98px;
    height: 37px;

}

.footer-btn:hover {

    color: #30BAE7;
    
}