:root {

    --primary: #F25C05;
    --secondary: #F3D92C;
    --light: white;
    --dark: black;
    --secondary-dark: #212529;

}

.header-container {

    display: flex;
    justify-content: space-between;
    align-items: center;

}


header {

    background-color: var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    padding: 35px 0;
    z-index: 2;

}

/*  */

.par {

    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    max-width: 411px;
    color: var(--dark);

}

.about-section {

    padding-top: 30px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #F3D92C;

}

.title {

    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    letter-spacing: 3px;
    color: #000000;

}

.button-link {

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--secondary-dark);
    width: 170px;
    height: 48px;

}

.button-link a {

    text-decoration: none;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    color: var(--light);

}

/*  */

main {

    padding-top: 120px;

}

.nav-links {

    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

}

.nav-links a {

    text-decoration: none;
    color: var(--light);
    padding: 12px 15px;

}

.first-section {

    background-color: var(--primary);
    padding-top: 5px;

}

.first-section .container {

    padding-bottom: 83px;

}

.first-section .welcome {

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--light);

}

.first-section h1 {

    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    color: var(--light);

}

.first-section .description {

    font-size: 15px;
    color: rgba(255, 255, 255, 0.75);

}

.first-section .button-link a {

    color: var(--dark);

}

.welcome-text {

    max-width: 416px;

}

.first-section .button-link {

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--light);
    width: 170px;
    height: 48px;

}

.first-section .image-container {

    display: flex;
    align-items: center;
    justify-content: center;

}

.second-section .partners-main {

    text-align: center;

}

.subtitle {

    text-align: center;
    margin: auto;
    margin-bottom: 55px;

}

.second-section .photos {

    text-align: center;
    margin-bottom: 55px;

}

.second-section .photos .row {

    margin-right: 0;

}

.second-section .button-link {

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--secondary-dark);
    width: 170px;
    height: 48px;
    margin: 55px auto 73px auto;

}

.second-section .button-link a {

    color: var(--light);

}

.second-section .container {

    text-align: left;

}

.second-section .container .button-link {

    margin: 16px 0 0 0;

}

.second-section .description {

    font-size: 15px;

}

.second-section .partners-second {

    color: #212529;

}

.second-section .first-row {

    margin-bottom: 70px;

}

.third-section .team-title {

    text-align: center;

}

.third-section .card {

    max-width: 279px;
    height: 300px;
    background: var(--light);
    box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: auto;
    margin-bottom: 45px;
    z-index: -5;

}

.third-section .card img {

    padding: 20px 52px;

}

.third-section .card-body {

    padding-left: 25px;

}

.third-section .row {

    margin: 0 5%;

}

.third-section .button-link {

    margin: 0 auto 54px auto;

}

footer {

    background: #F25C05;
    padding: 50px 0;
    text-align: center;

}

footer .par {

    color: var(--light);
    font-size: 20px;

}

footer .list {

    list-style: none;
    display: flex;
    padding-left: 0;

}

.footer-items {

    margin: 0 12% 0 10%;

}

/* portfolio */

.works-main {

    text-align: center;

}

.portfolio-photos {

    text-align: center;
    margin: 0 10%;

}

.portfolio-photos img {

    margin-bottom: 55px;
    max-width: 100%;
    max-height: 100%;

}

.portfolio-photos .button-link {

    margin: 15px auto 100px auto;

}

/* services */

.services-main {

    text-align: center;

}

.services .row {

    text-align: center;

}

.services h2 {

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    color: #000000;

}

.services .card {

    max-width: 340px;
    box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

}

.services .prices .title {

    font-family: 'Work Sans', sans-serif;

}

.services .month {

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    color: rgba(33, 37, 41, 0.5);
    display: inline-block;
    vertical-align: middle;

}

.services .card p {

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    color: rgba(33, 37, 41, 0.5);

}

.services .prices {

    margin: 0 10%;

}

.services .prices .card {

    margin: auto;
    margin-bottom: 135px;
    z-index: -5;

}

.services .prices .card ul {

    list-style-image: url(./Images/Vector.png);
    margin-top: 55px;

}

.services .prices .card ul li:not(:last-child) {

    margin-bottom: 17px;

}

.services .prices .card .button-link {

    margin: auto;
    margin-top: 48px;
    margin-bottom: 30px;

}

/* contact */

.contact-main {

    padding-top: 30px;
    text-align: center;

}

.contact .subtitle {

    font-weight: 400;
    font-size: 20px;
    line-height: 125%;

}

.contact .form-control {

    box-sizing: border-box;
    background: #EEEEEE;
    border: 1px solid #000000;
    border-radius: 5px;
    height: 38px;

}

.contact .area {

    height: 75px;

}

.contact-info .form-label:not(:first-child) {

    margin-top: 21px;
    margin-bottom: 16px;

}

.contact-info .form-label:first-child {

    margin-bottom: 16px;

}

.contact-info .button-link {

    width: 100%;
    margin-top: 21px;

}

.contact-info .row {

    margin-bottom: 93px;

}

.contact-info .image-container {

    width: 100%;
    height: 100%;

}

.contact-info img {

    max-height: 384px;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* desktops */
@media (min-width: 1200px) {}

/* small desktops */
@media (min-width: 992px) and (max-width: 1199px) {

    .third-section .row {

        margin: 0;

    }

}

/* tablets */
@media (min-width: 768px) and (max-width: 1200px) {

    .portfolio-photos .col-md-6 {
        flex: 0 0 auto;
        width: 35%;
    }

}

/* mobile */
@media (max-width: 767px) {

    .title {

        font-size: 24px;
        line-height: 30px;

    }

    .footer {

        justify-content: center;

    }

    header {

        padding: 16px 20px;
        height: 72px;

    }

    .logo-link img {

        height: 38px;

    }

    .nav-links-container {

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--primary);
        padding: 30px 0;
        display: none;

    }

    .nav-links {

        display: inline;

    }

    .nav-links-container a {

        display: block;

    }

    .mobile-menu-close {

        position: absolute;
        top: 10px;
        right: 10px;
        background-color: transparent;
        border: none;
        color: var(--light);
        font-size: 20px;
        width: 44px;
        height: 44px;
        padding: 0;

    }

    .mobile-menu-open {

        position: absolute;
        top: 10px;
        right: 26px;
        background-color: transparent;
        border: none;
        color: var(--light);
        font-size: 20px;
        width: 44px;
        height: 44px;
        padding: 0;

    }

    .nav-links-container.open {

        display: flex;

    }

    main {

        padding-top: 72px;

    }

    .revert-on-mobile {

        flex-direction: column-reverse;

    }

    .revert-on-mobile div[class^="col-"] {

        padding: 0 20px;

    }

    .welcome-text {

        margin-top: 30px;
        margin-right: auto;

    }

    .first-section .container {

        padding-bottom: 40px;

    }

    .third-section .card {

        margin-bottom: 35px;

    }

    .third-section .button-link {

        margin: 0 auto 164px auto;

    }

    .portfolio-photos .button-link {

        margin: -29px auto 30px auto;

    }

    .about-section {

        padding-top: 35px;

    }

    .contact-info img {

        margin-bottom: 21px;

    }

    .contact-info .row {

        margin-bottom: 59px;

    }

    .contact .area {

        height: 141px!important;

    }

    .first-section h1 {

        font-size: 24px;

    }

    footer .par {

        margin: auto;

    }

    .container {

        max-width: 100%;

    }

}

/*  */

@media (max-width: 1200px) {

    .photos img {

        margin-bottom: 50px;

    }

    .second-section .button-link {

        margin-top: 5px;
        margin-bottom: 60px;

    }

    .services .prices .card {

        margin-bottom: 50px;

    }

    .portfolio-photos {

        margin: auto;

    }

    .services-footer {

        margin-top: 18px;

    }

}

@media (min-width: 768px) {

    .mobile-menu-close {

        display: none;

    }

    .mobile-menu-open {

        display: none;

    }

}